html,body{  
  background-image: url("../images/videojuegos.jpg");
  background-repeat: repeat;
}

#titulo_inicio{
  background-color: aquamarine;
  border: 3px solid #000;
}

.contenido{
  background-color:lightblue;
  border: 3px solid #000;
  color: #fff;
}

.titulo{
  display: table;
  background-color:crimson;
  color:white;
  text-align: justify;
}

.home{
  background-color: coral;
  border: 3px solid #000;
  color: #fff;
}

ul {
    list-style: none;
}
#introduccion{
  background-color: aquamarine;
  border: 3 px solid #000;
}

header{
    width: 100%;
    height: 100px;
}

table {
  text-align: center; 
}

.container{
  min-height: calc(100vh - 100px - 150px);
}

footer {
  width: 100%;
  height: 150px;
  background: black;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}

.infoAcercaDe{
  background-color: orange;
  text-align: justify;
  color:white;
  border: 3px solid #000;
}

.tituloAcercaDe{
  background-color: #4c6fa0;
  text-align: justify;
  border: 3px solid #000;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

h5{
  text-align: center;
}

.row{
  margin-bottom: 4px;
}



.containerOwnApp {
  box-shadow: 0 0 27px 0 rgba(51, 43, 43, 0.62);
  padding-top: 15px;
}


.sugerencias{
  background-color:darkslategrey;
  margin: 0 auto 100px;
  max-width: 360px;
  position: relative;
  color:white;
  text-align: center;
  
}
#logo{
  width: 150px;
  height: 150px;
}
.login-page {
 margin: 0 auto 100px;
 max-width: 360px;
 position: relative;
}

.login-form {
  background-image: url("../images/fondo_login.jpg");
  box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

.login-form-header {
  padding-top: 16px;
}

.login-from-row {
  padding-top: 16px;
  padding-bottom: 16px;
}

.login-form-font-header {
  font-size:30px; 
  font-weight: bold;
  color:white;
}

.login-form-font-header span {
  color: #a5c4cc;
}


  